#search-results {
  height: 89vh;
  overflow: scroll;
}

#search-results::-webkit-scrollbar {
  width: 1em;
}
 
#search-results::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#search-results::-webkit-scrollbar-thumb {
  background-color: red;
  /* outline: 1px solid blue; */
}

.search-result {
  width: 300px;
  margin: 5px;
  padding: 3px;
  border: solid 1px rgb(53, 53, 53);
  border-radius: 5px;
}

.search-song-title{
  font-weight: bold;
  font-size: 1.2em;
}

.search-lyrics-preview{
  cursor: pointer;
}