#search-results {
  height: 89vh;
  overflow: scroll;
}

.search-result {
  width: 300px;
  margin: 5px;
  padding: 3px;
  border: solid 1px rgb(53, 53, 53);
  border-radius: 5px;
}

.search-song-title{
  font-weight: bold;
  font-size: 1.2em;
}

.search-lyrics-preview{
  cursor: pointer;
}