.search-song-title{
  font-weight: bold;
  font-size: 1.2em;
}

.search-lyrics-preview{
  cursor: pointer;
}

.song-get-lyrics-button {
  background-color: orange;
}

pre {
  white-space: pre-wrap;
  word-break: keep-all
}