.video-search-result-buttons {
  text-align: center;
}

.video-search-result-container {
  margin: 5px;
  padding: 5px;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
}

.video-search-result-info {
  display: flex;
}

.video-search-result-content {
  width: auto;
  margin-left: 5px;
}

.video-search-result-hover-modal {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-search-result-hover-modal-visible {
  visibility: visible;
}

.video-search-result-hover-modal-content {
  margin: 3px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.video-search-result-image {
  max-width: 150px;
  max-height: 120px;
}

.video-search-result-title {
  font-weight: bold;
}

.video-search-result-description {
  color:darkgray;
  font-size: 0.7em;
  word-break: break-all;
}